# Documentation for these settings: https://pnpm.io/pnpmfile

# Default values in pnpm, copied from https://github.com/pnpm/pnpm/blob/v6.31.0/packages/config/src/index.ts#L195
# Should be updated when we update pnpm.
public-hoist-pattern[]=*types*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*

public-hoist-pattern[]=*stylelint*